In [2]:
import pandas as pd
df = pd.read_csv('C:/Users/icorw\iCloudDrive/DST9/data_sf.csv')

#### Задача 1

In [8]:
pivot = df.pivot_table(index='Club', columns='Nationality', values='Wage', aggfunc='sum', fill_value=0)

In [11]:
pivot.loc['AS Monaco']['Russia']

61000

#### Задача 2

In [119]:
s = df[['SprintSpeed', 'Position']].pivot_table(index='Position', values='SprintSpeed', 
              aggfunc='mean')
s.loc[s.index.intersection(['RB', 'LM', 'RM', 'CF', 'RWM', 'RS', 'RWM'])].\
      sort_values(['SprintSpeed'], ascending=False).head(3)

    SprintSpeed
RM    74.943864
LM    74.211538
RS    71.991228

#### Задача 3

In [3]:
p = df.pivot_table(index='Club', columns='Position', values='SprintSpeed', aggfunc='mean')
p['ST'].sort_values(ascending=False)

Club
Vitória            91.000000
Sydney FC          88.000000
CD Lugo            87.000000
Brøndby IF         84.666667
Leicester City     84.500000
                     ...
Valencia CF              NaN
VfL Bochum 1848          NaN
VfL Wolfsburg            NaN
Waterford FC             NaN
Wigan Athletic           NaN
Name: ST, Length: 650, dtype: float64

In [5]:
df.pivot_table(index='Club', columns='Position', values='SprintSpeed', aggfunc='mean', margins=True)

Position,CAM,CB,CDM,CF,CM,GK,LAM,LB,LCB,LCM,...,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST,All
Club,,,,,,,,,,,,,,,,,,,,,
SSV Jahn Regensburg,NaN,46.600000,82.000000,NaN,61.000000,33.000000,NaN,76.000000,NaN,NaN,...,57.000000,NaN,65.000000,NaN,NaN,NaN,NaN,NaN,61.666667,59.041667
1. FC Heidenheim 1846,68.000000,61.333333,NaN,NaN,68.000000,41.000000,NaN,60.000000,55.00000,NaN,...,59.000000,NaN,NaN,NaN,78.333333,NaN,NaN,NaN,69.000000,65.450000
1. FC Kaiserslautern,NaN,59.000000,65.666667,NaN,NaN,42.666667,NaN,68.000000,45.00000,NaN,...,NaN,NaN,55.000000,NaN,82.500000,69.000000,NaN,NaN,79.000000,65.217391
1. FC Köln,NaN,60.000000,32.000000,NaN,68.500000,33.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,77.000000,NaN,NaN,NaN,NaN,55.200000
1. FC Magdeburg,NaN,60.000000,NaN,64.000000,NaN,39.333333,NaN,69.000000,60.00000,66.000000,...,68.000000,71.000000,NaN,NaN,76.000000,53.000000,80.500000,NaN,44.000000,63.238095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Çaykur Rizespor,74.000000,58.000000,62.800000,NaN,NaN,47.000000,NaN,75.500000,63.00000,NaN,...,NaN,NaN,32.000000,NaN,85.000000,NaN,NaN,NaN,48.000000,61.318182
Örebro SK,NaN,60.750000,NaN,NaN,63.000000,33.666667,NaN,NaN,58.00000,44.000000,...,62.000000,66.000000,NaN,NaN,NaN,NaN,77.500000,72.000000,72.200000,63.000000
Östersunds FK,67.000000,76.000000,NaN,77.000000,56.333333,32.666667,NaN,74.500000,53.00000,62.000000,...,73.000000,NaN,NaN,NaN,85.000000,NaN,67.000000,NaN,52.000000,61.450000
Śląsk Wrocław,NaN,62.000000,66.666667,NaN,72.000000,30.666667,NaN,78.500000,59.00000,NaN,...,58.000000,NaN,69.000000,NaN,68.000000,81.000000,NaN,NaN,54.000000,60.583333
All,68.236967,57.734854,60.813314,69.803922,64.299906,37.622182,76.333333,70.718563,58.93643,65.334764,...,58.239234,65.233333,62.152174,76.333333,74.943864,71.991228,75.417722,73.128571,68.700397,63.205629