In [7]:
import pandas as pd
import numpy as np
df_user = pd.read_csv('users.csv', encoding='koi8-r', sep='\t')
df_log = pd.read_csv('log.csv', header=None)
df_log.columns = ['user_id','time','bet','win']
df_user.columns=['user_id', 'mail', 'city']
df_log = df_log[df_log.user_id != '#error']  
df_log.user_id = df_log.user_id.str.split(' - ').apply(lambda x: x[1]) 
df_user.user_id = df_user.user_id.apply(lambda x: x.lower())

In [12]:
dff = pd.merge(df_log, df_user, on='user_id')

In [16]:
dff[dff['user_id'] == 'user_1000']

,user_id,time,bet,win,mail,city
829,user_1000,[2019-01-21 19:31:34,NaN,NaN,Cincomphite@mail.ru,Тюмень
830,user_1000,[2019-01-28 20:57:37,800.0,NaN,Cincomphite@mail.ru,Тюмень
831,user_1000,[2019-02-10 5:33:25,NaN,NaN,Cincomphite@mail.ru,Тюмень
832,user_1000,[2019-02-17 2:34:32,NaN,NaN,Cincomphite@mail.ru,Тюмень
833,user_1000,[2019-02-21 12:01:29,NaN,NaN,Cincomphite@mail.ru,Тюмень
834,user_1000,[2019-03-02 17:17:13,NaN,NaN,Cincomphite@mail.ru,Тюмень
835,user_1000,[2019-03-03 12:34:16,NaN,NaN,Cincomphite@mail.ru,Тюмень
836,user_1000,[2019-03-23 23:47:07,NaN,NaN,Cincomphite@mail.ru,Тюмень
837,user_1000,[2019-03-27 3:39:36,100.0,NaN,Cincomphite@mail.ru,Тюмень
838,user_1000,[2019-04-05 14:45:54,400.0,4701.0,Cincomphite@mail.ru,Тюмень
839,user_1000,[2019-04-05 6:48:33,300.0,NaN,Cincomphite@mail.ru,Тюмень
840,user_1000,[2019-04-06 22:07:35,NaN,NaN,Cincomphite@mail.ru,Тюмень