In [1]:
import pandas as pd
data = pd.read_excel("./nakladnaya.xls", header=None, skiprows=2)

In [8]:
data2 = data.dropna(how='all')

In [10]:
len(data2)

15

In [16]:
data

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,NaN,NaN,NaN,НАКЛАДНАЯ,"№ 5764809 от ""08"" апреля 2018 г.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Грузоотправитель:,NaN,"ООО ""Первый строитель""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Грузополучатель:,NaN,"ООО ""Стройка века""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Основание для отпуска: Договор №,NaN,NaN,86,"от ""02""апреля 2018 г.",NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,№,Наименование товарно-материальных ценностей,NaN,NaN,NaN,Ед. изм.,NaN,NaN,Количество,NaN,"Цена,","Сумма,"
10,NaN,п/п,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,руб. коп.,руб. коп.
11,NaN,1,"Велосипед ""Спринтер""",NaN,NaN,NaN,шт,NaN,NaN,5,NaN,9000,45000
12,NaN,2,"Велосипед ""Малютка""",NaN,NaN,NaN,шт,NaN,NaN,10,NaN,3500,35000
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,Всего отпущено,2 (два) наименования,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,На сумму,80 000 (восемьдесят тысяч) рублей,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,Отпуск разрешил,Зам. Директора,NaN,NaN,NaN,NaN,Куликов,NaN,NaN,Куликов П.Д.,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,М.П.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,Отпустил,Кладовщик,NaN,NaN,NaN,NaN,Мазов,NaN,NaN,Мазов Р.К.,NaN
23,NaN,NaN,Получил,Водитель,NaN,NaN,NaN,NaN,Дроценко,NaN,NaN,Дроценко А.С.,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,М.П.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
data2.iloc[6:8, [1, 2, 6, 9, 11, 12]]

   1                      2   6   9     11     12
11  1  Велосипед "Спринтер"   шт   5  9000  45000
12  2    Велосипед "Малютка"  шт  10  3500  35000

In [24]:
data2.iloc[6:8, [0, 2, 6, 9, 11, 12]]

    0                      2   6   9     11     12
11 NaN  Велосипед "Спринтер"   шт   5  9000  45000
12 NaN    Велосипед "Малютка"  шт  10  3500  35000

In [26]:
data2.iloc[6:8, :].dropna(axis=1, how='all')

   1                      2   6   9     11     12
11  1  Велосипед "Спринтер"   шт   5  9000  45000
12  2    Велосипед "Малютка"  шт  10  3500  35000

In [14]:
data2.iloc[0, 4].split('от')[0]

'№ 5764809  '

In [15]:
data.iloc[0, 4][2:9]

'5764809'